* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}
section.section{
    grid-row: 3;
    width: 100vw;
    height: 100%;
    padding: 10px;
    color: #000;
    position: relative;
}
div.paper img {
    position: relative;
    width: 100vw;
    height: 121px;
    top: 48px;
    left: -10px;
}
div.fundo{
    width: 100vw;
    background: url("./../../../assets/images/fundo.png");
    position: relative;
    bottom: -10px;
    left: -10px;
}
ul.list-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    list-style: none;
    max-width: 100vw; 
    width: 95%;
    min-height: 318px;
    margin: 0 auto;
}
ul.list-cards li{
    color: #ebebeb;
    width: 268px;
    height: 292.25px;
    padding: 32px;
    border-radius: 24px;
    position: relative;
    margin-left: 24px;
    top: -130px;
    box-shadow: 0px 0px 2px #000000db;
}
ul.list-cards li div.title h3{
    width: 203px;
    height: 32px;
    display: flex;
    align-items: center;
    font-family: "Nunito";
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 10px;
    color: #ffffff;
}
ul.list-cards li div.knowmore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 33px;
}
ul.list-cards li div.knowmore a{
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-style: medium;
    margin-top: 50px;
    color: #00210C;
    display: flex;
    align-items: center;
}
ul.list-cards li div.knowmore a span{
    line-height: 23px;
    width: 97px;
    height: 33px;
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: #00210C;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    display: flex;
}
ul.list-cards li div.knowmore a i{
    line-height: 23px;
    font-size: 25px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    color: #00210C;
    background-color: #ffffff;
    padding: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.list-cards li div.text p{
    width: 204px;
    height: 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #DDE1FF;
    flex: none;
    order: 0;
    text-align: justify;
    align-self: stretch;
    flex-grow: 0;
}
ul.list-cards li div#icon{
    width: 21.74px;
    height: 32.25px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
ul.list-cards li#fazer{
    background-color: #4D6AE7;
}
ul.list-cards li#comer{
    background-color: #008e45;
}
ul.list-cards li#dormir{
    background-color: #CD8700;
}
ul.list-cards li#chegar{
    background-color: #005225;
}
div.point fieldset.box{
    border: none;
    padding-top: 10px;
    position: relative;
    top: -100px;
}
div.point fieldset.box div.position{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto 0px;
}
div.point fieldset.box h1{
    font-family: "Nunito";
    font-weight: 900;
    width: 399.86px;
    height: 60px;
    color: #00210C;
    letter-spacing: -0.5px;
    margin-left: 200px;
    font-size: 48px;
    grid-column: 1;
    line-height: 60px;
    vertical-align: middle;
    font-style: black;
}
div.point fieldset.box legend.legend{
    font-family: "Caveat", sans-serif;
    font-style: bold;
    font-weight: 700;
    color: #006B32;
    line-height: 16px;
    letter-spacing: 1.2px;
    vertical-align: middle;
    text-transform: capitalize;
    font-size: 24px;
    width: 200px;
    height: 16px;
    margin-left: 200px;
}
div.point fieldset.box div.position div#more{
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: -100px;
}
div.point fieldset.box div.position div#more a{
    text-decoration: none;
    color: #1a472a;
    font-family: "Inter";
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 5px;
    align-items: center;
    vertical-align: middle;
}
div.point fieldset.box div.position div#more a i{
    font-size: 3rem;
    margin-left: 3px;
}
div.point fieldset.box div.cards-points{
    margin-top: 40px;
}
div.point fieldset.box div.cards-points ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    list-style: none;
    max-width: 100vw;
    width: 85%;
    min-height: 318px;
    margin-left: 10%;
}
div.point fieldset.box div.cards-points ul li{
    width: 355px;
    height: 480px;
    border-radius: 16px;
    border: solid 1px #E2E2E2;
    color:  #EDEDED;
    margin: 0 auto;
}
div.point fieldset.box div.cards-points ul li div.imagem-tour img{
    width: 355px;
    height: 288px;
    border-radius: 10px 10px 00px 0px;
}
div.point fieldset.box div.cards-points ul li div.type{
    width: 105px;
    height: 29px;
    padding: 4px 16px 4px 16px;
    color: #FFFFFFCC;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    margin-top: 10px;
    margin-left: 13px;
    border-radius: 9999px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
div.point fieldset.box div.cards-points ul li div.type span{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: #006B32;
    text-transform: uppercase;
}
div.point fieldset.box div.cards-points ul li div.info-tour{
    width: 353px;
    height: 195px;
    padding: 32px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f6f6f6;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
    border-radius: 0px 0px 10px 16px;
    margin-top: -10px;
}
div.point fieldset.box div.cards-points ul li div.info-tour h2{
    width: 291px;
    height: 32px;
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
    color: #00210C;
    margin: -10px 0 -10px 0px;
}
div.point fieldset.box div.cards-points ul li div.info-tour p{
    width: 291px;
    height: 78px;
    font-family: 'Inter';
    text-align: justify;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    color: #3E4A3F;
}

/*Responsive*/
@media (max-width: 480px) {
    ul.list-cards li{
        color: #ebebeb;
        width: 45%;
        height: 250px;
        margin-left: 0px;
    }
    div.paper img {
        left: 10px;
    }
    div.fundo{
        left: 10px;
    }
    ul.list-cards{
        width: 100%;
        gap: 20px;
        display: flex;
        justify-content: center;
    }
    div.point fieldset.box div.position{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.point fieldset.box div.position div#more{
        grid-column: 2;
        width: 150px;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        margin-left: 24px;
    }
    div.point fieldset.box h1{
        width: 150px;
        margin-left: 24px;
        position: relative;
        top: -10px;
        font-size: 14px;
        grid-column: 1;
        height: 50px;
    }
    div.point fieldset.box legend.legend{
        font-size: 14px;
        width: 150px;
        height: 6px;
        margin-left: 24px;
    }
    div.point fieldset.box div.position div#more a{
        font-size: 10px;
    }
    ul.list-cards li div.title h3{
        width: 100px;
        height: 32px;
        font-size: 15px;
    }
    ul.list-cards li div.text p{
        width: 120px;
        height: 69px;
        text-align: justify;
        font-size: 12px;
        line-height: 14px;
    }
    ul.list-cards li div.knowmore a span{
        max-width: 80px;
        width: 100%;
        height: 17px;
        font-size: 10px;
        margin-left: -30px;
    }
    ul.list-cards li div.knowmore a i{
        font-size: 18px;
        background-color: #ffffff;
        padding: 10px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.point fieldset.box div.cards-points ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 98%; 
        margin: 0 auto;
        padding: 10px;
        margin-top: -100px;
    }
    div.point fieldset.box div.cards-points ul li {
        width: 100%;
        margin-top: 50px;
        height: 200px;
    }
    div.point fieldset.box div.cards-points ul li div.imagem-tour img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    div.point fieldset.box div.cards-points ul li div.type {
        width: auto;
        padding: 2px 8px;
        margin-top: 5px;
        margin-left: 5px;
    }
    div.point fieldset.box div.cards-points ul li div.type span {
        font-size: 9px;
    }
    div.point fieldset.box div.cards-points ul li div.info-tour {
        width: 100%;
        height: 150px;
        padding: 12px;
        gap: 5px;
    }

    div.point fieldset.box div.cards-points ul li div.info-tour h2 {
        width: 100%;
        font-size: 10px;
        line-height: 20px;
        margin: 0;
    }

    div.point fieldset.box div.cards-points ul li div.info-tour p {
        width: 100%;
        height: auto;
        font-size: 10px;
        line-height: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}