.header{
    grid-column: 1/-1;
    grid-row: 1;
    max-height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.0); 
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    top: 0;
    max-width: 100vw;
    width: 100%;
    height: 130px;
    padding: 20px 5%;
    z-index: 999;
    transition: background 0.3s ease;  
    box-sizing: border-box; 
}
div.logo.grid-l{
    grid-column: 1;
    max-height: 100px;
    display: flex;
    justify-content: flex-start;
}
div.nav{
    grid-column: 2;
    width: 50vw;
}
div.icon-position{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    color: #fff
}
.flex{
    display: flex;
}
div.img{
    width: 150px;
}
div.img img{
    width: 100%;
    height: auto;
    display: block;
}
div.menu-hamburguer{
    width: 34px;
    height: 19px;
    border-radius: 14px;
    display: none;
}
div.menu-hamburguer span{
    display: block;
    height: 3px;
    background-color: #D9D9D9;
    border-radius: 14px;
}
div.menu-hamburguer span:nth-child(1){
    width: 21px;
}
div.menu-hamburguer span:nth-child(2){
    margin-top: 5px;
    width: 34px;
}
div.menu-hamburguer span:nth-child(3){
    width: 30px;
    margin-top: 5px;
}
label input[type=checkbox]{
    display: none;
}
/*Responsive*/
@media screen and (max-width: 480px) {
    .header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-height: 100px;
        padding: 10px;
        box-sizing: border-box;
        /*position: sticky;*/
    }
    div.nav{
        grid-column: 3;
        width: 100px;
    }
    div.icon-position{
        display: none;
    }
    div.logo.grid-l{
        grid-column: 2;
        display: flex;
        position: relative;
    }
    div.img{
        width: 80px;
        margin: 0px;
    }
    div.menu-hamburguer{
        grid-column: 1;
        grid-row: 1;
        display: block;
    }
    label#check{
        grid-row: 1;
        grid-column: 1;
    }
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (min-width: 481px) and (max-width: 1024px){
    div.icon-position{
        display: none;
    }
    .header{
        grid-template-columns: 1fr 1fr;
        padding: 10px;  
        /*position: sticky;*/
    }
    div.nav{
        position: relative;
        right:140px;
    }
    div.logo.grid-l{
        grid-column: 1;
        display: flex;
        justify-content: start;
        position: relative;
    }
}