.main {
    grid-column: 1 / -1;
    grid-row: 1 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 100px; 
}
