.main {
    grid-column: 1 / -1;
    grid-row: 1 / 8;
    display: grid;
    grid-template-rows: 110px 400px 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 0px;
}
section.welcome{
    grid-row: 2;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.welcome h3{
    font-size: 3rem;
    color: #ffffffc5;
    font-family: 'Courier New', Courier, monospace;
}
section.welcome h1{
    font-size: 5rem;
    font-family: Times, serif;
}
section.welcome h1#gold{
    font-style: italic;
    color: #DAA520;
}