*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --grid-gap: 1rem;
    --bg-container: aquamarine;
}

.container {
    display: grid;
    background-color: var(--bg-container);
    /*gap: var(--grid-gap);*/
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(8, 1fr);
    min-height: 100vh;
}